
body {
    background-image: url(../src/img/2690586.jpg);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   margin-top: 100px;
   font-family: "Oleo Script", system-ui;;
}

header {
    height: 90px;
    z-index:100 !important;
}

.main-color {
    color: white !important;
    background-color: rgb(41, 41, 41);
}

.main-color-transparent {
    color: white !important;
    background-color: rgb(41, 41, 41, 0.8);
}


/*UTILITY*/
.img-container {
    aspect-ratio: 1/1;
}

.icon-container {
    width: 30px;
    aspect-ratio: 1/1;
}

.yellow-hover:hover {
    color : #eecb62 !important
}

.yellow-table-hover:hover {
    --bs-table-hover-bg: #eecb62 !important;
    --bs-table-hover-color: #000000 !important;
}

.link-hotel {
    text-decoration: none;
    color: inherit !important;
    display: block;
    cursor: pointer;
    width: 100%;
}



.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
     border-color: #86b7fe; 
    outline: 0;
     box-shadow: 0 0 0 .25rem #eecb62; 
}

/*logout*/
.filter {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 200;
}

.main-logout {
    z-index: 300;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 200px;
}


/****pages******/

.hotel-description {
    max-height: 200px;
    overflow-y: auto;
}

.hotel-presentation-container {
    aspect-ratio: 1/1;
}

.hotel-presentation {
    position: relative;
    left: 0;
    top: -50%;
    animation: scrolling 15s linear infinite; 
}

/* comments */


#active-comment {
    transform: translateX(-100vw);
}

.active-comment-slide-in {
    transform: translateX(0) !important;
    transition: transform 0.5s ease-out;
}

.active-comment-slide-out {
    transform: translateX(+100vw) !important;
    transition: transform 0.5s ease-out;

}

/****search*****/

#search .img-container {
    /*border: #86b7fe 3px solid;*/
    width: 300px;
    aspect-ratio: 2/1;
    overflow: hidden;
}

#search .img-container img {
top:-50%;
}

#search .rotate-negative {
    animation: negative-rotation 0.5s ease-out forwards;
}

#search .rotate-positive {
    position: absolute;
    top: 0;
    left: 25%;
    animation: positive-rotation 0.5s ease-out forwards;
}

#search h2 {
    animation: title-shift 1s ease-out forwards;
}

#search form {
    opacity: 0;
    animation: appear  0.5s ease-out forwards;
    animation-delay: 1s;
}

tbody tr:nth-child(odd) {
    animation: table-enter-right 0.5s ease-out forwards;
}


tbody tr:nth-child(even) {
    animation: table-enter-left 0.5s ease-out forwards;
}

.active-comment-slider {
    animation: table-enter-right 0.5s ease-out forwards;
}

